#header{

}

#search-input{
    width: 150px;
}

.btn-info{
    width: 150px;
}


.city-button{
  border-radius: 5px;  
  background-color: #17a2b8;
}

.uvLow{
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uvModerate{
    background-color: yellow;
    border-radius: 5px;
    color: white;
}

.uvHigh{
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uvVeryhigh{
    background-color: red;
    border-radius: 5px;
    color: white;
}

.uvExtrme{
    background-color: purple;
    border-radius: 5px;
    color: white;
}