

#search-input{
    width: 150px;
}

.btn-info{
    width: 150px;
}


.city-button{
  border-radius: 5px; 
  margin: 1px;
  background-color: #17a2b8;
}

.uvLow{
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uvModerate{
    background-color: yellow;
    border-radius: 5px;
    color: white;
}

.uvHigh{
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uvVeryhigh{
    background-color: red;
    border-radius: 5px;
    color: white;
}

.uvExtrme{
    background-color: purple;
    border-radius: 5px;
    color: white;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    border: 1px solid #888;
    width: 60%; 
    
}

  /* center <p> with in modal  */
.modal-content p{
        text-align: center;
    }
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}